/*GENERAL RESET DEFAULT STYLE FOR THE SITE */

/* Pseudo variable codes */
:root {
    --primary-color: #1D3461; /* Delft Blue */
    --secondary-color:#1F487E; /* Polynesian blue */
    --accent1-color: #EBC26F; /* Hunyadi Yellow */
    --accent2-color: #605F5E; /* Davy's Grey */  
    --heading-font: 'Bebas Neue', sans-serif;
    --body-text-font: 'Roboto Flex', sans-serif;
}

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-text-font);
    color: var(--primary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2 {
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}


/* HEADER ELEMENTS */
header {
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

nav a {
    color: var(--primary-color);
    text-decoration: none;
    padding: 8px;
    color: var(--primary-color);
}

nav a:hover {
    font-weight: bold;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}


/* MAIN ELEMENTS */

/* Style the hero section using absolute positioning and a style of your choice. */
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: #fff;
}

/* INDIVIDUAL STYLING FOR THE BODY ELEMENT */

/* Style the article using absolute positioning and a style of your choice. */ 

article {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    padding: 16px;
    border-radius: 8px;
}

.hero article img {
    float: right;
    width: 125px;
    margin: 10px;
}

/* Section styling */

.section1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    color: var(--accent3-color);
}

p.section1 {
    flex: 1;
    margin: 8px;
}


section img {
    display: flex;
    justify-content: center;
    width: 200px;
    height: auto;
}

.section2 {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    color: var(--secondary-color);
}

section h2 {
    font-size: 1.5em;
    width: 100%;
    padding-top: 10px;
}


/* Figure section */
figure {
    margin-top: 10px;
    text-align: center;
    font-size: xx-small;
}

figure img {
    width: 150px;
    height: auto;
}


/* Styling the Footer Elements */
footer {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: var(--accent2-color);
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
} 

